<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.guardianelf.shopping.mapper.AddressMapper">
    
    <resultMap type="Address" id="AddressResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="street"    column="street"    />
        <result property="postalCode"    column="postal_code"    />
        <result property="isDefault"    column="is_default"    />
        <result property="tag"    column="tag"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectAddressVo">
        select id, user_id, name, phone, province, city, district, street, postal_code, is_default, tag, created_at, updated_at from address
    </sql>

    <select id="selectAddressList" parameterType="Address" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="street != null  and street != ''"> and street = #{street}</if>
            <if test="postalCode != null  and postalCode != ''"> and postal_code = #{postalCode}</if>
            <if test="isDefault != null "> and is_default = #{isDefault}</if>
            <if test="tag != null  and tag != ''"> and tag = #{tag}</if>
        </where>
    </select>
    
    <select id="selectAddressById" parameterType="String" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="street != null and street != ''">street,</if>
            <if test="postalCode != null">postal_code,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="tag != null">tag,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="street != null and street != ''">#{street},</if>
            <if test="postalCode != null">#{postalCode},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="tag != null">#{tag},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateAddress" parameterType="Address">
        update address
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="street != null and street != ''">street = #{street},</if>
            <if test="postalCode != null">postal_code = #{postalCode},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="tag != null">tag = #{tag},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAddressById" parameterType="String">
        delete from address where id = #{id}
    </delete>

    <delete id="deleteAddressByIds" parameterType="String">
        delete from address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>